<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <section>
      <p>Name: <%= @user.name %></p>
      <p>Email: <%= @user.email %></p>
      <p>Phone: <%= @user.phone %></p>
      <p>Company: <%= @user.company %></p>
      <p>Message: <%= @user.message %></p>
    </section>
<br>
    <p>Call this guy back and make that $$$!</p>
    <p>ps: Don't forget to tell this guy to use me for his website!</p>
  </body>
</html>
